# DSA Codes

1)Write a code to reverse a string

In [ ]:
def reverse (string):
  return string[::-1]
print(reverse("hello"))

olleh

2)Write a code to count the number of vowels in a string

In [ ]:
def vowel(string):
  vowels='aeiouAEIOU'
  return sum( 1 for char in string if char in vowels)
print(vowel("hello"))

2

3) Write a code to check if a given string is a palindrome or not

In [ ]:
def palindrome(string):
  return string==string[::-1]
print(palindrome("madam"))

True

4)Write a code to check if two given strings are anagrams of each other

In [ ]:
def anagrams(string1,string2):
  return sorted(string1)==sorted(string2)
print(anagrams("hello","olleh"))

True

5)Write a code to find all occurrences of a given substring within another string

In [ ]:
def findSubstring(s, sub):
  return [i for i in range(len(s)) if s.startswith(sub,i)]

print(findSubstring("banana", "ana"))

[1, 3]

6)  Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
def compress_string(s):
    compressed = []
    count = 1
    for i in range(1,len(s)):
        if s[i] == s[i-1]:
            count += 1
        else:
            compressed.append(s[i-1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    return "".join(compressed)

print(compress_string("aaabbcddd"))

a3b2c1d3

7) Write a code to determine if a string has all unique characters

In [ ]:
def unique(string):
  return len(set(string))==len(string)
print(unique('vamsii'))

False

8)Write a code to convert a given string to uppercase or lowercase

In [ ]:
s="hello this is Vamsi"
print(s.upper(),s.lower())

HELLO THIS IS VAMSI hello this is vamsi

9)Write a code to count the number of words in a string

In [ ]:
def wordslen(string):
  return len(string.split())
print(wordslen('Hi hello how is the code '))

10)Write a code to concatenate two strings without using the + operator

In [ ]:
def concatenateStrings(s1, s2):
    return f"{s1}{s2}"
print(concatenateStrings("Hello", "World"))

HelloWorld

11)Write a code to remove all occurrences of a specific element from a list

In [ ]:
def removeElements(list,element):
  return[x for x in list if x!=element]
print(removeElements([2,2,2,3,4,5,6,2,8],2))

[3, 4, 5, 6, 8]

12)Implement a code to find the second largest number in a given list of integers

In [ ]:
def secondLargest(lst):
    return sorted(set(lst))[-2] if len(set(lst) )>1 else None
print(secondLargest([10, 20, 4, 45, 99]))

45

13)Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
from collections import Counter

def countElements(lst):
    return dict(Counter(lst))
print(countElements([1, 2, 2, 3, 3, 3, 4]))

{1: 1, 2: 2, 3: 3, 4: 1}

14)Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
def reverseList(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1
    return lst

print(reverseList([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

15)Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [ ]:
def removeDuplicatesOrder(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

print(removeDuplicatesOrder([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

16)Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
def isSorted(lst):
    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))
    return ascending or descending

print(isSorted([1, 2, 3, 4, 5]))
print(isSorted([5, 4, 3, 2, 1]))

True
True

17)Write a code to merge two sorted lists into a single sorted list

In [ ]:
def mergeSorted(list1, list2):
  mergedList = []
  i = j = 0
  while i < len(list1) and j < len(list2):
    if list1[i] <= list2[j]:
      mergedList.append(list1[i])
      i += 1
    else:
      mergedList.append(list2[j])
      j += 1
  mergedList.extend(list1[i:])
  mergedList.extend(list2[j:])
  return mergedList

print(mergeSorted([2, 5, 7, 9], [1, 3, 4, 6, 8]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

18)Implement a code to find the intersection of two given lists

In [ ]:
def intersection(list1, list2):
  return list(set(list1) & set(list2))
print(intersection([1, 2, 3, 4, 5], [3, 4, 5, 6, 7]))

[3, 4, 5]

19)Create a code to find the union of two lists without duplicates

In [ ]:
def union(list1, list2):
  return list(set(list1) | set(list2))
print(union([1, 2, 3, 4, 5], [3, 4, 5, 6, 7]))

[1, 2, 3, 4, 5, 6, 7]

20)Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
import random

def shuffleList(lst):
    n = len(lst)
    for i in range(n - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]
    return lst

print(shuffleList([1, 2, 3, 4, 5, 6]))

[5, 2, 6, 4, 3, 1]

21)Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
def concatTuples(t1, t2):
    return t1 + t2

print(concatTuples((1, 2, 3), (4, 5, 6)))

(2, 3)

22)Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [ ]:
def tuple_intersection(t1, t2):
    return tuple(set(t1) & set(t2))

print(tuple_intersection((1, 2, 3), (2, 3, 4)))

23)Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
def concatenateTuples(tuple1, tuple2):
  return tuple1 + tuple2

print(concatenateTuples((4,3,22,2,7), (8,7,9,1)))

(4, 3, 22, 2, 7, 8, 7, 9, 1)

24) Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set.

In [ ]:
def difference(set1, set2):
    return set1 - set2
set1 = set(input("").split(","))
set2 = set(input("").split(","))
print(difference(set1,set2))

43232
3232
{'4'}

25)Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [ ]:
def tupleRange(t, start_index, end_index):
  return t[start_index:end_index]
print(tupleRange((1, 2, 3, 4, 5), 3,5))

(4, 5)

26)Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
def setUnion(set1, set2):
  return set1.union(set2)

set1 = set(input("").split(","))
set2 = set(input("").split(","))
print(setUnion(set1, set2))

4,3,2
2,3,4
{'2', '3', '4'}

27)Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
def findMaxMin(numbers):
  min = max = numbers[0]
  for num in numbers:
    if num < min:
      min = num
    if num > max:
      max = num
  return max, min


print(findMaxMin((1, 5, 2, 8, 3)))

(8, 1)

28)Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets&

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}

29)Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [ ]:
def countOccurrences(tuple, element):
  return tuple.count(element)
print(countOccurrences((1, 2, 3,3,7, 4, 5), 3))

2

30)Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets.

In [ ]:
set1 = set(input("").split(","))
set2 = set(input("").split(","))

print("Symmetric difference:", set1 ^ set2)

4,5,7,8,1,1
4,2,1,1,8,32,3
Symmetric difference: {'7', '2', '3', '32', '5'}

31)Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.

In [ ]:
from collections import Counter

def wordFrequencies(words):
    return dict(Counter(words))

words = ["apple", "banana", "apple", "orange", "banana", "banana"]
print(wordFrequencies(words))

{'apple': 2, 'banana': 3, 'orange': 1}

32)Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together.

In [ ]:
def mergeDicts(d1, d2):
    for key, value in d2.items():
        d1[key] = d1.get(key, 0) + value
    return d1

print(mergeDicts({"a": 2, "b": 3}, {"b": 4, "c": 5}))

33)Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None&

In [ ]:
def getNestedValue(d, keys):
    for key in keys:
        d = d.get(key)
        if d is None:
            return None
    return d

nestedDict = {"a": {"b": {"c": 42}}}
print(getNestedValue(nestedDict, ["a", "b", "c"]))

42

34) Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order&

In [ ]:
def sortDictByValue(d, descending=False):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=descending))

print(sortDictByValue({"a": 3, "b": 1, "c": 2}))
print(sortDictByValue({"a": 3, "b": 1, "c": 2}, descending=True))

{'b': 1, 'c': 2, 'a': 3}
{'a': 3, 'c': 2, 'b': 1}

35)Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [ ]:
def invertDict(d):
    inverted = {}
    for key, value in d.items():
        inverted.setdefault(value, []).append(key)
    return inverted

print(invertDict({"a": 1, "b": 2, "c": 1}))